body {
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
    height: 80px;
    background-color: #1720a1;
    top: 0;
}

.logo-header {
    margin: 10px;
    width: 200px;
}

.nav-header {
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    flex-grow: 1; 
    margin-right: 20px;
}

.options-header {
    text-decoration: none;
    color: white;
    margin-left: 30px; 
}

.bg-main {
    background-image: url("/resources/bg-color-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    width: auto;
    min-height: 515px;
}

.bg-main-page {
    padding: 10px 26%;
}

.item-menu {
    background-color: white;
    width: 170px;
    height: 190px;
    padding: 20px;
    margin: 10px;
    border-radius: 4px;
    display: inline-block;
    border-left: 5px solid #C6C6C6;
    border-bottom: 5px solid #C6C6C6;
}

.image-menu {
    width: 140px;
    height: 140px;
    margin: 0 8%;
}

a {
    text-decoration: none;
    color: black;
}

.title-menu {
    text-align: center;
    font-size: larger;
    display: grid;
}

.footer-menu {
    width: 100%;
    height: 80px;
    background-color: #1720a1;
    bottom: 0;
    display: inline-block;
    position: relative;
    
}

.text-footer {
    color: white;
    margin: 0 auto;
    padding: 10px 0; 
    text-align: center;
}

.images-footer {
    margin: 0 auto; 
    text-align: center; 
    display: block; 
}

.contact-icons-footer {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}