.body-menu {
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
    width: 100%;
    height: 100px;
    background-color: #1720a1;
    top: 0;
}

.logo-header {
    margin: 20px 50% 20px 20px;
    width: 200px;
}

.options-header {
    text-decoration: none;
    margin: 30px;
    color: white;
    
}

.main-menu {
    background-image: url("/resources/bg-color-2.jpg");
    background-repeat: no-repeat;
    padding: 10px 18%;
}

.item-menu{
    background-color: white;
    width: 180px;
    height: 200px;
    padding: 20px;
    margin: 10px;
    display: inline-block;

}

.image-menu {
    width: 150px;
    height: 150px;
    display:flexbox;
    justify-content: center;
}

.title-menu {
    text-align: center;
    font-size: larger;
}

.footer-menu {
    width: 100%;
    height: 100px;
    background-color: #1720a1;
    bottom: 0;
    display: inline-block;
    position: relative;

}

.text-footer {
    color: white;
}

.contact-icons-footer {
    width: 30px;
    height: 30px;
}
