.bg-new-client {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.form-div-bg {
    width: 450px;
    min-height: 510px;
    position: fixed;
    background-color: #C6C6C6;
    border-radius: 4px;
    top: 105px;
}

.form-div {
    width: 450px;
    min-height: 500px;
    position: fixed;
    background-color: #fcfcfc;
    border-radius: 4px;
    transform: translateX(10px) translateY(-10px);
    top: 105px;
}

.title {
    width: 450px;
    margin: auto;
}

.text-title {
    color: #3F337B;
    text-align: center;
}

.form {
    margin: auto;
    width: 300px;
    justify-content: center;
}

.input-form {
    background-color:#fcfcfc;
    width: 295px;
    padding: 5px;
    margin: 5px 0 5px 0;
    border: none;
    border-bottom: 2px solid #3F337B;
    text-align: center;
    outline: none;
}

.label-input {
    margin: auto;
    text-align: center;
    color: #3F337B;
}

.register-button {
    color: white;
    background-color:#3F337B;
    border-color: rgb(0, 136, 255);
    width: 100px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    margin: 20px auto 0 auto;
    padding: 5px 20px;
}

.register-button:hover {
    background-color: #5a48b1;
    color: white;
    border-color: rgb(0, 136, 255);
    width: 100px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    margin: 20px auto 0 auto;
    padding: 5px 20px;
    cursor: pointer;
}

.register-button:active {
    background-color: #7560dc;
    color: white;
    border-color: rgb(0, 136, 255);
    width: 100px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    margin: 20px auto 0 auto;
    padding: 5px 20px;
    cursor: progress;
}




